.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 75px;
}

.center-content {
  text-align: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wallet-input {
  border: 2px solid #EB5763;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  width: 400px;
}

.search-form button,
.file-upload-button {
  background-color: #EB5763;
  color: white;
  border: 1px solid #EB5763;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
  width: 100px;
}

.search-form button:hover,
.file-upload-button:hover {
  background-color: #e76772;
}

.loaded-data {
  margin-left: 50px;
  width: 100%;
}

 /* Header Section */
 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-section {
  width: 100%; /* Full width */
  display: flex;
  justify-content: center; /* Center content horizontally */
  margin-top: 20px;
  position: absolute; /* Stay in place on scroll */
  top: 10px;
  left: 0;
  right: 0;
  padding: 0 10px; /* Add some padding on the sides */
  z-index: 1000; /* Ensures the header stays above other content */
}

/* Login Button */
.logout-button-container {
  margin: 0 auto; /* Centers the button and ensures no direct overflow */
  padding: 10px; /* ensure it doesn't cause overflow */
  text-align: center; /* Center the button if it's inline or inline-block */
}
.logout-btn {
  background-color: #EB5763;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: auto; 
  margin-left: auto;
  position: absolute; /* Stay in place on scroll */
  top: 6px; /* Adjust buffer from the top */
  right: 30px; /* Adjust buffer from the right */
  z-index: 1000; /* Ensures logo stays above other content */
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-btn:hover {
  background-color: #d14d58;
  transform: translateY(-2px);
}

.logout-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 105, 180, 0.5);
}
/* Styles for logo container */
.logo-container {
  position: absolute; /* Stay in place on scroll */
  margin-left: auto;
  top: 6px; /* Adjust buffer from the top */
  left: 10px; /* Adjust buffer from the left */
  z-index: 1000; /* Ensures logo stays above other content */
}

/* Styles for logo itself */
.logo {
  max-width: 75px; /* Adjust to make the logo smaller */
  height: auto; /* Maintain aspect ratio */
}

/* User Email Styles */
.user-email {
  color: white; /* Adjust as needed */
  font-size: 16px; /* Adjust to match the website's font size */
  margin-right: auto; /* Pushes everything else to the right */
  padding-left: 20px; /* Space from logo or the left side of the header */
}

/* Style adjustments for Profile component */
.profile-container div img {
  width: 40px;
  height: 40px; 
  border-radius: 50%; /* Makes image circular */
}

.profile-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow:1;
  margin: 0 auto; /* Centers the button and ensures no direct overflow */
  padding: 10px; /* Ensure it doesn't cause overflow */
 }

.profile{
  border: none;
  cursor: pointer;
  margin-right: auto; 
  margin-left: auto;
  position: absolute;
  right: 130px; /* Adjust buffer from the right */
  top: 3px;
  z-index: 1000;
  color: #000000;
  display: flex; /* Aligns text with the image */
  font-family: "Noto Sans", Sans-serif;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

/* Adjusts the profile email styling */
.profile-email {
  margin: 0; /* Reduces default paragraph margin */
  font-size: 14px;
  color: #605e5e; 
  font-weight: bold;
}

/*These are for the loading screen*/
.circle-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

.circle-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc; /* Adjust border color */
  border-top-color: #EB5763; /* Adjust top border color to desired loading color */
  animation: spin 1s ease-in-out infinite; /* Apply animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Streams components */
.streams-header-section {
  display: flex;
  align-items: center;
  justify-content: space-between; /*Or 'flex-end' if you want it to stick to the right */
  margin-left: auto; /* push the title to the right if 'justify-content' is not used */
  margin-left: 130px;
  margin-top: -5px;
  font-size: 25px;
}

