/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding-top: 20px;
}

/* Header Section */
.header-section {
  width: 100%; /* Full width */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically if needed */
  margin-top: 20px; /* Space between header and login, adjust as needed */
}

/* Login Section */
.login-section {
  width: 100%; /* Full width */
  display: flex;
  justify-content: center; /* Center content horizontally */
  margin-top: 160px;
  flex-grow: 1;
}

/* Login Button */
.login-btn {
  background-color: #EB5763; /* Adjust the color as needed */
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
  background-color: #d14d58; /* Hover effect color adjustment */
  transform: translateY(-2px);
}

.login-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 105, 180, 0.5); /* Focus effect adjustment */
}




