/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align to the top */
  height: 100vh; /* Full viewport height */
  text-align: center;
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}

/* Header Section */
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 15%; /* Adjust the padding-top to move your h1 down */
}

/* Login Section */
.login-section {
  width: 100%; /* Full width */
  display: flex;
  justify-content: center; /* Center content horizontally */
  margin-top: 260px;
  flex-grow: 1;
}

/* Login Button */
.login-btn {
  background-color: #EB5763;
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-btn:hover {
  background-color: #d14d58;
  transform: translateY(-2px);
}

.login-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 105, 180, 0.5); /* Focus effect adjustment */
}

/* Styles for logo container */
.logo-container {
  position: absolute; /* Stay in place on scroll */
  margin-left: auto;
  top: 6px; /* Adjust buffer from the top */
  left: 10px; /* Adjust buffer from the left */
  z-index: 1000; /* Ensures logo stays above other content */
}

/* Styles for logo itself */
.logo {
  max-width: 75px; /* Adjust to make the logo smaller */
  height: auto; /* Maintain aspect ratio */
}


/* h1 Styling for large header text */
h1 {
  font-size: 4rem; /* Large, eye-catching size */
  color: #ffffff; /* White color for high contrast */
  font-weight: bold; /* Bold weight for header */
  letter-spacing: -2px; /* Negative letter-spacing for a tighter look */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
}

/* Subtext Styling for paragraph text */
p {
  font-size: 1.25rem; /* Smaller than h1, but still legible */
  color: #ffffff; /* Same color for consistency */
  font-weight: normal; /* Normal weight for paragraph */
  letter-spacing: normal; /* Standard letter-spacing */
  line-height: 1.5; /* Space between lines for readability */
  margin: 0px 0; /* Space above and below the paragraph */
  max-width: 1000px; /* Max width for optimal reading */
  text-align: center; /* Center-align text */
  margin-left: auto; /* Align the paragraph block horizontally center */
  margin-right: auto; /* Align the paragraph block horizontally center */
}
/* Ensuring responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem; /* Smaller font size for mobile devices */
  }
  p {
    font-size: 1rem; /* Adjust paragraph font size for mobile devices */
  }
}
