.text-container {
    display: flex;
    align-items: center;
    width: 300px;
  }
  
  .address-info{
    display: flex;
    align-items: center;
    font-size: x-large;
  }
  
  .large-text {
    font-size:large;
    font-weight: bold;
    margin: 5px;
  }
  
  .small-text {
    margin-left: 15px;
    font-size: x-small;
  }

  .nft-container {
    display: flex;
    flex-wrap: wrap;
  }

  .nft-item {
    width: calc(33.33% - 10px);
    margin: 5px;
    display: flex;
    flex-direction: column;
  }

  .nft-image,
  .nft-video {
    max-width: 300px;
    max-height: 300px;
  }

  .centered{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .balance-graph{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  @media (max-width: 800px) {
    .text-container {
      display: flex;
      align-items: center;
      font-size: xx-small;
    }

    .large-text {
      font-size: xx-small;
      font-weight: bold;
    }
    
    .small-text {
      font-size: xx-small;
    }

    .address-info{
      display: flex;
      align-items: center;
      font-size: x-small;
    }

  }

