.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 32px 0px;
  transition: padding-top 0.3s ease-in-out; /* Smooth transition for padding */
}

/* When search is active, increase the padding-top to push content down */
.app-container.search-active {
  padding-top: 0px; /* Adjust based on the size of your search component */
  z-index: 1001;
}

.app-container, .header-section {
  position: relative; /* This creates a new stacking context for child elements */
}

/* Initial position of the search area */
.search-area {
  transition: transform 0.5s ease-in-out; /* Smooth transition for moving up */
}

/* Position of the search area when search is active */
.search-area.move-up {
  transform: translateY(-115px); /* Moves the search area up by its own height */
  position: relative; /* Or absolute if you need it to be positioned out of the normal flow */
  z-index: 1002;
}
.search-area.move-up .search-component {
  transform: translateY(-115px); /* Adjust the movement as necessary */
  z-index: 2000; /* Increase this to be above the header */
  position: relative; /* Adjust if necessary */
}

.transaction-title {
  transition: opacity 0.3s ease-in-out; /* Smooth transition for text appearance */
  opacity: 1; /* Fully visible by default */
}

.center-content {
  text-align: center;
  margin-top: 50px; /* Adjust value as needed */
  transition: margin-top 0.3s ease; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-form {
  width: 100%;
  gap: 75px;
  top: 0px;
}

.center-content .search-component {
  transition: transform 0.3s ease-in-out;
  /* Additional styling for the search bar */
}

/* When search is in the header, we translate it upwards */
.header-section.search-in-header {
  padding-top: 50px; /* For example purposes */
}
.search-in-header {
  margin-top: 0; /* Reset margin to move it to the top */
  z-index: 1001; /* Ensure a high z-index so it's clickable */
  position: relative; /* Ensure it's positioned correctly */
}

/* Ensure .search-component has the initial style */
.search-component {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Centers the element */
  transition: top 0.3s ease; /* Smooth transition for the top property */
  width: 100%; /* Set a specific width if needed */
  max-width: 600px;
  z-index: 2001; 
}

.header-section.search-in-header .search-component {
  top: -100px !important;  /* This will move the search bar up */
}

.wallet-input {
  border: 2px solid #eb5763;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  width: 400px;
}

.search-form button,
.file-upload-button {
  background-color: #eb5763;
  color: white;
  border: 1px solid #eb5763;
  cursor: pointer;
  font-size: 14px;
  gap: 10px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  white-space: nowrap;
  padding: 10px 24px 10px 16px;
}

.search-form button {
  min-width: 135px;
  height: 40px;
}

.search-form button:hover,
.file-upload-button:hover {
  background-color: #e76772;
}

.search-default {
  /* Default search bar styling */
  margin-top: 100px; /* Or your desired spacing */
  transition: margin-top 0.3s ease;
}

.search-header {
  /* Styling to position the search bar in the header */
  
  top: 0px;
  /* Other styling as necessary */
  margin-right: auto;
  margin-left: auto;
} 

.loaded-data {
  margin-left: 50px;
  width: 100%;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
  z-index: 10;
}

.about-us {
  font-size: 18px !important;
  color: white !important;
}

.about-us:hover {
  text-decoration: none;
}

.header-section {
  position: relative; /* This is crucial */
  transition: padding 0.3s; 
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-between; /* Center content horizontally */
  z-index: 5; /* Ensures the header stays above other content */
  height: 75px; 
}

/* Login Button */
.logout-button-container {
  margin: 0 auto; /* Centers the button and ensures no direct overflow */
  padding: 10px; /* ensure it doesn't cause overflow */
  text-align: center; /* Center the button if it's inline or inline-block */
}
.logout-btn {
  background-color: #eb5763;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  position: absolute; /* Stay in place on scroll */
  top: 6px; /* Adjust buffer from the top */
  right: 30px; /* Adjust buffer from the right */
  z-index: 1000; /* Ensures logo stays above other content */
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.logout-btn:hover {
  background-color: #d14d58;
  transform: translateY(-2px);
}

.logout-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 105, 180, 0.5);
}

/* Styles for logo itself */
.logo {
  transition: all 0.3s ease-in-out; /* Smooth transition for size change */
  width: 142px; /* Adjust to make the logo smaller */
  height: auto; /* Maintain aspect ratio */
}

/* User Email Styles */
.user-email {
  color: white; /* Adjust as needed */
  font-size: 16px; /* Adjust to match the website's font size */
  margin-right: auto; /* Pushes everything else to the right */
  padding-left: 20px; /* Space from logo or the left side of the header */
}

/* Style adjustments for Profile component */
.profile-container div img {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes image circular */
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0 auto; /* Centers the button and ensures no direct overflow */
  padding: 10px; /* Ensure it doesn't cause overflow */
}

.profile {
  border: none;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  right: 130px; /* Adjust buffer from the right */
  top: 3px;
  z-index: 1000;
  color: #000000;
  display: flex; /* Aligns text with the image */
  font-family: "Noto Sans", Sans-serif;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

/* Adjusts the profile email styling */
.profile-email {
  margin: 0; /* Reduces default paragraph margin */
  font-size: 14px;
  color: #605e5e;
  font-weight: bold;
}

/*These are for the loading screen*/
.circle-loader-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: 20px; */
}

.circle-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc; /* Adjust border color */
  border-top-color: #eb5763; /* Adjust top border color to desired loading color */
  animation: spin 1s ease-in-out infinite; /* Apply animation */
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Streams components */
.streams-header-section {
  display: flex;
  align-items: center;
  justify-content: space-between; /*Or 'flex-end' if you want it to stick to the right */
  margin-left: auto; /* push the title to the right if 'justify-content' is not used */
  margin-left: 130px;
  margin-top: -5px;
  font-size: 25px;
  z-index: 10;
}
