body {
  background-color: #1F1F1F;
}

/* Update header styles */
.header {
  display: flex;
  align-items: center;
  padding: 0 100px;
}

/* New class for the container of both links */
.links-container {
  display: flex;
  align-items: center; /* aligns items vertically */
  gap: 10px; /* adjust as needed for spacing between Log-in and About Us */
}

.log-in-button,
.sign-up-button {
  background-color: #eb5763;
  color: white !important;
  border: 1px solid #EB5763;
  cursor: pointer;
  font-size: 18px !important;
  border-radius: 32px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  width: fit-content;
  white-space: nowrap;
  padding: 10px 24px;
  
}

.log-in-button:hover,
.sign-up-button:hover {
  background-color: #e76772;
}

.about-us {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
