.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .balancemedian-graph{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px; /* Adjust spacing between rows */
}

.col {
    flex: 1;
    max-width: 400px;
    max-height: 400px;
    margin: 0 10px; /* Adjust spacing between columns */
}

canvas {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
}